.main{
    background-color: #d0cecf;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.kkk{
    text-align: center;
    font-size: 30px;
}
.abc{
text-align: center;
}
.abd{
    text-align: center;
    margin-left: 500px;
}
.abf{
    text-align: center;
}
.bad{
    margin-left: 600px;
}
.text{
    text-align: center;
}
.lol{
    margin-left: 600px;
}
.ttt{
    text-align: center;
}
.ppp{
    margin-left: 600px;
}
.iii{
    margin-top: -560px;
    margin-left: 110px;
}
.ooo{
    margin-left: 90px;
    margin-top: 20px;
}

.sss{
    margin-left: 50px;
}
.uuu{
    margin-left: 50px;
}
.vvv{
    margin-left: 50px;
}

.www{
    margin-left: 50px;
}